#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	"E", IDM_EXPLORE, CONTROL, VIRTKEY
	VK_F2, IDM_OPEN, VIRTKEY
	VK_F4, IDM_EXIT, ALT, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_RUN
		MENUITEM " ", IDM_OPEN
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_RUN
		MENUITEM " ", IDM_TRAY_OPEN
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 238, 134
STYLE DS_SHELLFONT | WS_POPUP | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | NOT WS_VISIBLE
EXSTYLE WS_EX_COMPOSITED
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_PROGRESS, PROGRESS_CLASS, PBS_MARQUEE, 12, 12, 214, 12

	LTEXT			"", IDC_BROWSER, 12, 36, 214 10
	LTEXT			"", IDC_CURRENTVERSION, 12, 48, 214, 10
	LTEXT			"", IDC_VERSION, 12, 60, 214, 10
	LTEXT			"", IDC_DATE, 12, 72, 214, 10

	LTEXT			"", IDC_STATIC, 12, 90, 214, 1, SS_ETCHEDHORZ, WS_EX_STATICEDGE

	CONTROL			"<a href=""https://github.com/henrypp"">github.com/henrypp</a>\r\n<a href=""https://chromium.woolyss.com"">chromium.woolyss.com</a>", IDC_STATIC, WC_LINK, 0, 12, 98, 100, 18

	PUSHBUTTON		"", IDC_START_BTN, 132, 98, 94, 14

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

//
// String resources
//
STRINGTABLE
{
	IDS_FILE "File"
	IDS_RUN "Start"
	IDS_OPEN "Open"
	IDS_EXIT "Exit"
	IDS_SETTINGS "Settings"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_ABOUT "About"
	IDS_DONATE "Give thanks!"

	IDS_TRAY_SHOW "Show/Hide"

	IDS_BROWSER "Name: %s"
	IDS_CURRENTVERSION "Current version: %s"
	IDS_VERSION "New version: %s"
	IDS_DATE "Build date: %s"

	IDS_ACTION_DOWNLOAD "Download update"
	IDS_ACTION_INSTALL "Install update"

	IDS_STATUS_CHECK "Checking for new releases..."
	IDS_STATUS_DOWNLOAD "Downloading update..."
	IDS_STATUS_INSTALL "Unpacking update..."
	IDS_STATUS_FOUND "New version ""%s"" is available!"
	IDS_STATUS_DOWNLOADED "An update has been downloaded, but not installed. Close Chromium and press 'Install update'."
	IDS_STATUS_ERROR "Error while checking update..."
	IDS_STATUS_NOTFOUND "<not found>"

	IDS_QUESTION_STOP "Are you sure you want to cancel the Chromium update process?"

	IDS_CLOSE "Close"
}

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
